.footer {
  position: relative;
  width: 100%;
  padding: 100px 20px 20px;
  background: #FFAB00;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 100px;
}

.footer::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 100px;
  border-color: transparent transparent #FFAB00 transparent;
  left: 50%;
  transform: translate(-50%, -100%);
  top: 0;
}

.linkList {
  margin: 0;
  list-style: none;
  text-align: end;
}

.linkList li {
  margin: 5px 0;
}