.container {
  padding-top: 56.25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.headline {
  color: #034A46;
  text-transform: uppercase;
  font-size: 75px;
  margin: 10px 0;
  font-family: 'Big Shoulders Stencil Text';
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.headerImage {
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: 120%;
  z-index: 0;
}

.iconLinks {
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}

.iconLinks svg {
  fill: #034A46;;
  width: auto;
}

.iconLinks svg:hover {
  opacity: 0.7;
}

.iconLinks li a {
  padding: 16px 20px;
}

.screenReader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
}

@media (max-width: 760px) {
  .container {
    padding: 125px 0 150px;
  }

  .headline {
    font-size: 40px;
  }
}