.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.masonryGrid {
  display: flex;
  margin-left: -20px;
  width: 100%;
}
.masonryGridColumn {
  padding-left: 20px;
  background-clip: padding-box;
}
